<launch>
    <node pkg="tf" type="static_transform_publisher" name="base_to_laser" args="0.5 0 0 0 0 0 fixed laser 100" />
    <node pkg="tf" type="static_transform_publisher" name="laser_to_camera" args="0.5 0 0 1.0 0 0 0 laser camera 100" />
    <node pkg="rviz" type="rviz" name="rviz"/>
</launch>